# ========== 通用 ==========
*.swp
*.tmp
*.log
*.bak
*.old

# ========== CMake 构建目录 ==========
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt

# ========== 编译生成的目标文件 ==========
*.out
*.o
*.a
*.so
*.so.*
*.dll
*.exe

# 排除 app 可执行产物（若命名为 app 或 main）

# ========== Python 文件 ==========
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/
.venv/
.env/

# ========== VSCode IDE ==========
.vscode/

# ========== 项目结构中特定目录 ==========
NetworkAnalyse/build/
NetworkAnalyse/test/
mitm/.venv/
mitm/__pycache__/
